<div nz-row>
  <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
    <h3 class="primary-color-font">Wallet Top Up</h3>
    <p>Topup your Enviar Account balance.</p>
  </div>
  <br />
  <br />
  <br />

  <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
    <nz-tabset
      [nzTabPosition]="'top'"
      [nzType]="'card'"
      [nzSelectedIndex]="tabIndex"
      (nzSelectedIndexChange)="tabChange($event)"
    >
      <nz-tab
        *ngFor="let tab of tabs"
        [nzTitle]="tab"
        [nzDisabled]="tab === 'Transfer By Number' || tab === 'Request Value'"
      >
        <div *ngIf="tab == 'Transfer Value' && !isAdminRole">
          <div nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <br />
            <div nz-row nzSm="24" nzMd="24" nzLg="24" nzXl="24">
              <form
                nz-form
                [formGroup]="transferValueForm"
                (ngSubmit)="submitTransferValueForm()"
              >
                <nz-form-item>
                  <nz-form-label
                    [nzSm]="6"
                    [nzXs]="24"
                    nzRequired
                    nzFor="amount"
                  >
                    Amount
                  </nz-form-label>
                  <nz-form-control
                    [nzSm]="14"
                    [nzXs]="24"
                    nzErrorTip="Enter correct amount"
                  >
                    <input nz-input formControlName="amount" id="amount" />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="ref">
                    Reference
                  </nz-form-label>
                  <nz-form-control
                    [nzSm]="14"
                    [nzXs]="24"
                    nzErrorTip="Enter Reference Number"
                  >
                    <input nz-input formControlName="ref" id="ref" />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row class="register-area">
                  <nz-form-control [nzSpan]="14" [nzOffset]="6">
                    <button
                      nz-button
                      nzType="primary"
                      [disabled]="!transferValueForm.valid"
                    >
                      Submit Amount
                    </button>
                  </nz-form-control>
                </nz-form-item>
              </form>
              <!-- <div nz-col nzSm="24" nzMd="24" nzLg="6" nzXl="6">
                  <h4>Choose Retailer</h4>
           <nz-select [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Choose Retailer">
           <nz-option nzValue="Retailer1" nzLabel="Retailer1"></nz-option>
           <nz-option nzValue="Retailer2" nzLabel="Retailer2"></nz-option>
           <nz-option nzValue="Retailer3" nzLabel="Retailer3"></nz-option>
           </nz-select>
              </div> -->
              <!-- <div nz-col nzSm="24" nzMd="24" nzLg="6" nzXl="6">
                <h4>Amount</h4>
                <nz-input-number
                  [(ngModel)]="demoValue"
                  [nzMin]="1"
                  [nzMax]=""
                  [nzStep]="1"
                ></nz-input-number>
              </div> -->
              <!-- <div nz-col nzSm="24" nzMd="24" nzLg="6" nzXl="6">
                <br />
                <button nz-button nzType="primary">Submit</button>
              </div>
              <div nz-col nzSm="24" nzMd="24" nzLg="6" nzXl="6"></div> -->

              <br /><br />
            </div>
          </div>
        </div>
        <div *ngIf="tab == 'Transfer By Number'">
          <div nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <br />
            <div nz-row nzSm="24" nzMd="24" nzLg="24" nzXl="24">
              <div nz-col nzSm="24" nzMd="24" nzLg="6" nzXl="6">
                <h4>Enter Number or UserID</h4>
                <input nz-input placeholder="xxxxxxx" [(ngModel)]="value" />
              </div>
              <div nz-col nzSm="24" nzMd="24" nzLg="6" nzXl="6">
                <h4>Amount</h4>
                <nz-input-number
                  [(ngModel)]="demoValue"
                  [nzMin]="1"
                  [nzMax]=""
                  [nzStep]="1"
                ></nz-input-number>
              </div>
              <div nz-col nzSm="24" nzMd="24" nzLg="6" nzXl="6">
                <h4>Type</h4>
                <nz-select
                  [(ngModel)]="selectedValue"
                  nzAllowClear
                  nzPlaceHolder="Forward"
                >
                  <nz-option nzValue="Forward" nzLabel="Forward"></nz-option>
                  <nz-option nzValue="Reverse" nzLabel="Reverse"></nz-option>
                </nz-select>
              </div>
              <div nz-col nzSm="24" nzMd="24" nzLg="6" nzXl="6">
                <h4>Remarks</h4>
                <input nz-input placeholder="........." [(ngModel)]="value" />
              </div>
              <button nz-button nzType="primary">Submit</button>
            </div>
          </div>
        </div>
        <div *ngIf="tab == 'Request Value'">
          <div nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <br />
            <div nz-row nzSm="24" nzMd="24" nzLg="24" nzXl="24">
              <div nz-col nzSm="24" nzMd="24" nzLg="4" nzXl="4">
                <h4>Amount</h4>
                <nz-input-number
                  [(ngModel)]="demoValue"
                  [nzMin]="1"
                  [nzMax]=""
                  [nzStep]="1"
                ></nz-input-number>
              </div>
              <div nz-col nzSm="24" nzMd="24" nzLg="4" nzXl="4">
                <h4>Payment Mode</h4>
                <nz-select
                  [(ngModel)]="selectedValue"
                  nzAllowClear
                  nzPlaceHolder="Choose Mode"
                >
                  <nz-option nzValue="CASH" nzLabel="CASH"></nz-option>
                  <nz-option
                    nzValue="Bank Transfer"
                    nzLabel="Bank Transfer"
                  ></nz-option>
                  <nz-option nzValue="RTGS" nzLabel="RTGS"></nz-option>
                  <nz-option nzValue="NEFT" nzLabel="NEFT"></nz-option>
                  <nz-option nzValue="IMPS/UPI" nzLabel="IMPS/UPI"></nz-option>
                  <nz-option nzValue="Cheque" nzLabel="Cheque"></nz-option>
                  <nz-option
                    nzValue="Capital float"
                    nzLabel="Capital float"
                  ></nz-option>
                </nz-select>
              </div>
              <div nz-col nzSm="24" nzMd="24" nzLg="4" nzXl="4">
                <h4>Ref No.</h4>
                <input nz-input placeholder="xxxxxxx" [(ngModel)]="value" />
              </div>
              <div nz-col nzSm="24" nzMd="24" nzLg="4" nzXl="4">
                <h4>Choose Bank</h4>
                <nz-select
                  [(ngModel)]="selectedValue"
                  nzAllowClear
                  nzPlaceHolder="Choose Bank"
                >
                  <nz-option
                    nzValue="Axis Bank"
                    nzLabel="Axis Bank"
                  ></nz-option>
                  <nz-option
                    nzValue="Icici Bank"
                    nzLabel="Icici Bank"
                  ></nz-option>
                </nz-select>
              </div>
              <div nz-col nzSm="24" nzMd="24" nzLg="4" nzXl="4">
                <h4>Payment Date</h4>
                <nz-date-picker
                  [(ngModel)]="date"
                  (ngModelChange)="onChange($event)"
                ></nz-date-picker>
              </div>
              <div nz-col nzSm="24" nzMd="24" nzLg="4" nzXl="4">
                <br />
                <button nz-button nzType="primary">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </nz-tab>
    </nz-tabset>
  </div>
  <br />
  <br />
</div>
