<div nz-row>
    <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <a class="back-button-text" [routerLink]="['/', 'wallet-load-request']"
        ><img
            class="back-img"
            src="assets/images/back-button.svg"
        />&nbsp;&nbsp;BACK</a
        >
        <br />
        <h3 class="primary-color-font">Wallet Load Request</h3>
        <p>Manage your Wallet Load Request here</p>
    </div>
    <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="container-center">
        <nz-card class="primary-color-border-card">  
            <nz-descriptions nzTitle="Wallet Load Request Details" nzLayout="vertical" class="primary-color-font">
                <nz-descriptions-item nzTitle="ID">
                    {{ loadRequestDetails._id }}
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="From">
                    {{ loadRequestDetails.fl_from_uid }}
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="To">
                    {{ loadRequestDetails.fl_to_uid }}
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="Requested Amount">
                    {{ loadRequestDetails.fl_req_amount }}
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="User Balance">
                    {{ loadRequestDetails.fl_from_uid_balance }}
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="Status">
                    {{ loadRequestDetails.fl_status === false ? "Approved" : "Pending" }}
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="Created Time">
                    {{ loadRequestDetails.fl_created_at | date: "dd MMM" }}
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="Updated Time">
                    {{ loadRequestDetails.fl_updated_at | date: "dd MMM" }}
                </nz-descriptions-item>
              </nz-descriptions>
              <div nzrow class="text-center">
                <div nz-col nzSm="24" nzMd="24" nzLg="12" nzXl="12">
                    <button
                    nz-button
                    nzType="primary"
                    (click)="approveLoadRequest()"
                    [disabled]="!loadRequestDetails.fl_status"
                    >
                    Approve
                    </button> 
                </div>
                <div nz-col nzSm="24" nzMd="24" nzLg="12" nzXl="12">
                    <button
                    nz-button
                    nzType="info"
                    (click)="rejectLoadRequest()"
                    >
                    Reject
                    </button> 
                </div>                  
              </div>
        </nz-card>
    </div>
    <br><br>
 