<div nz-row>
  <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
    <h3 class="primary-color-font">Wallet Load</h3>
    <p>Manage your Wallet Load Requests</p>
  </div>
</div>
<div nz-row>
  <div
    nz-col
    nzSm="24"
    nzMd="24"
    nzLg="6"
    nzXl="6"
    *ngFor="let item of balanceCards"
  >
    <nz-card class="primary-color-border-card" [ngClass]="item.bgClass">
      <p>{{ item.title }}</p>
      <ng-container *ngIf="item.type === 1; else amountText">
        <h1>{{ item.text | currency: "INR" }}</h1>
      </ng-container>
      <ng-template #amountText>
        <h1>{{ item.text }}</h1>
      </ng-template>
      <p *ngIf="item.showDetail" [routerLink]="item.routerLink">
        <span>
          {{ item.desc }}
          &nbsp;<i nz-icon nzType="arrow-right" nzTheme="outline"></i>
        </span>
      </p>
      <div *ngIf="!item.showDetail" style="height: 40px;"></div>
    </nz-card>
  </div>
</div>
<br />
<div nz-row>
  <div nz-col nzSm="24" nzMd="24" nzLg="22" nzXl="22">
    <nz-input-group
      class="margin-5px"
      [nzSuffix]="suffixIconSearch"
      style="width: 100%; max-width: 400px;"
    >
      <input
        type="text"
        [(ngModel)]="searchText"
        nz-input
        placeholder="Search"
      />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
  </div>
  <div nz-col nzSm="24" nzMd="24" nzLg="2" nzXl="2">
    <!-- <button class="margin-5px" nz-button nz-dropdown [nzDropdownMenu]="menu0">
          Sort
          <i nz-icon nzType="down"></i>
        </button>
        <nz-dropdown-menu #menu0="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>By ??</li>
            <li nz-menu-item>By ??</li>
            <li nz-menu-item>By ??</li>
          </ul>
        </nz-dropdown-menu> -->
  </div>
</div>
<br />
<div nz-row>
  <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
    <nz-table
      #nzTable
      [nzData]="walletLoadRequests"
      [nzScroll]="{ y: '240px' }"
      [nzPageSize]="30"
    >
      <thead>
        <tr>
          <th nzWidth="220px">From</th>
          <th nzWidth="220px">To</th>
          <th nzWidth="120px">Amount</th>
          <th nzWidth="120px">Status</th>
          <th nzWidth="120px"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let data of nzTable.data | filter: searchText"
          (click)="viewLoadRequestRoute(data)"
        >
          <td>{{ data.fl_from_uid }}</td>
          <td>{{ data.fl_to_uid }}</td>
          <td>{{ data.fl_req_amount }}</td>
          <td>{{ data.fl_status === false ? "Approved" : "Pending" }}</td>
          <td>
            <!-- <a nz-button nzType="link" class="primary-color-font" (click)="viewLoadRequestRoute(data)">
              View <i nz-icon nzType="right-circle" nzTheme="outline" style="font-size: 16px;"></i>
            </a> -->
            <i
              nz-icon
              nzType="right-circle"
              nzTheme="outline"
              style="font-size: 16px;"
            ></i>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
