<div nz-row>
  <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
    <h3 class="primary-color-font">Top Up Balance</h3>
    <p>Topup your Enviar Account balance.</p>
  </div>
  <br />
  <br />
  <br />

  <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
    <nz-tabset
      [nzTabPosition]="'top'"
      [nzType]="'card'"
      [nzSelectedIndex]="tabIndex"
      (nzSelectedIndexChange)="tabChange($event)"
    >
      <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab">
        <div *ngIf="tab == 'Online Top Up' && !isAdminRole">
          <div nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <br />
            <h3 class="primary-color-font">
              Online Transfer
            </h3>
            <form
              nz-form
              [formGroup]="validateOnlineForm"
              (ngSubmit)="submitOnlineForm()"
            >
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="Amount"
                  >Transfer Amount</nz-form-label
                >
                <nz-form-control
                  [nzSm]="14"
                  [nzXs]="24"
                  nzErrorTip="Please enter the amount."
                >
                  <input
                    type="number"
                    nz-input
                    formControlName="onlineAmount"
                    id="onlineAmount"
                  />
                </nz-form-control>
              </nz-form-item>

              <nz-form-item nz-row class="register-area">
                <nz-form-control [nzSpan]="14" [nzOffset]="6">
                  <button nz-button nzType="primary">
                    Pay Online
                  </button>
                </nz-form-control>
              </nz-form-item>
            </form>
            <br /><br />
          </div>
        </div>
        <div *ngIf="tab == 'Manual Top Up' && !isAdminRole">
          <div nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <br />
            <div nzSm="24" nzMd="24" nzLg="24" nzXl="24">
              <h3 class="primary-color-font">
                Transfer funds to Enviar bank account
              </h3>
              <br />
              <p>
                <span class="light-color-font">Beneficiary Name:</span> Kredify
                Fintech Solutions Pvt. Ltd. <br /><br />
                <span class="light-color-font">Bank Name:</span> Kotak Mahindra
                Bank Ltd <br /><br />
                <span class="light-color-font">Account Number:</span>
                8713288746 <br /><br />
                <span class="light-color-font">IFSC Code:</span>
                KKBK0001371<br />
              </p>
            </div>
            <br />
            <h3 class="primary-color-font">
              Fill this form with transaction details:
            </h3>
            <br />
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="Amount"
                  >Transferred Amount</nz-form-label
                >
                <nz-form-control
                  [nzSm]="14"
                  [nzXs]="24"
                  nzErrorTip="Please enter the amount."
                >
                  <input
                    type="number"
                    nz-input
                    formControlName="amount"
                    id="amount"
                  />
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label
                  [nzSm]="6"
                  [nzXs]="24"
                  nzFor="transactionType"
                  nzRequired
                  >Transaction Type</nz-form-label
                >

                <nz-form-control
                  [nzSm]="14"
                  [nzXs]="24"
                  nzErrorTip="Please enter a Transaction Type."
                >
                  <nz-select
                    formControlName="transactionType"
                    id="transactionType"
                    [(ngModel)]="selectedTransType"
                    nzAllowClear
                    nzPlaceHolder="Choose"
                  >
                    <nz-option nzValue="neft" nzLabel="NEFT"></nz-option>
                    <nz-option nzValue="rtgs" nzLabel="RTGS"></nz-option>
                    <nz-option nzValue="imps" nzLabel="IMPS"></nz-option>
                    <nz-option nzValue="cheque" nzLabel="Cheque"></nz-option>
                    <nz-option nzValue="card" nzLabel="RazorPay"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label
                  [nzSm]="6"
                  [nzXs]="24"
                  nzFor="transactionNo"
                  nzRequired
                  >Transaction Number</nz-form-label
                >
                <nz-form-control
                  [nzSm]="14"
                  [nzXs]="24"
                  nzErrorTip="Please enter a Transaction No."
                >
                  <input
                    type="number"
                    nz-input
                    formControlName="transactionNo"
                    id="transactionNo"
                  />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item nz-row class="register-area">
                <nz-form-control [nzSpan]="14" [nzOffset]="6">
                  <button nz-button nzType="primary">
                    Submit Transfer Details
                  </button>
                </nz-form-control>
              </nz-form-item>
            </form>
          </div>
        </div>
        <div *ngIf="tab == 'Transactions'">
          <div nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <br />
            <h3 class="primary-color-font">
              Recent Transaction
            </h3>
            <br />
            <nz-table
              #headerTable
              [nzData]="companyTranscations"
              [nzPageSize]="50"
              [nzScroll]="{ y: '240px' }"
            >
              <thead>
                <tr>
                  <th nzWidth="150px">Date</th>
                  <th>Details</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of headerTable.data">
                  <td>
                    {{ data.initiated_ts * 1000 | date: "yyyy-MM-dd" }}
                  </td>
                  <td>
                    Txn Id: {{ data.details.transaction_id }},
                    {{ getStatusText(data.approval_status) }}, Amount -
                    {{ data.amount | currency: "₹" }}
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </nz-tab>
    </nz-tabset>
  </div>
  <br />
  <br />
</div>
