<div nz-row>
  <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
    <a class="back-button-text"
      ><img
        class="back-img"
        src="assets/images/back-button.svg"
      />&nbsp;&nbsp;BACK</a
    >
    <br />
    <h3 class="primary-color-font">Summary</h3>
    <p>Click on pay now will redirect you to third party payment gateway.</p>
  </div>
</div>
<div nz-row nzType="flex">
  <nz-card class="primary-color-border-card plan-rate-card">
    <h3>Plan 1</h3>
    <p>INR 1,999 per month</p>
  </nz-card>
</div>
<p>Not the Plan you want? <a>Change Plan</a></p>
<div nz-row nzType="flex">
  <nz-card class="primary-color-border-card payment-card">
    <h3>Payment Gateway Screens</h3>
  </nz-card>
</div>
