<div nz-row>
  <div nz-col
  nzSm="24"
  nzMd="24"
  nzLg="24"
  nzXl="24">
  <a class="back-button-text" [routerLink]="['/', 'company', 'bankdetails' ]"><img class="back-img" src="assets/images/back-button.svg">&nbsp;&nbsp;BACK</a>
  <br>
    <h3 class="primary-color-font">Select Plan</h3>
    <p>Choose from one of these plans before getting started.</p>
  </div>
</div>
      <div nz-row [nzGutter]="48">
        <div nz-col
        nzSm="24"
        nzMd="24"
        nzLg="8"
        nzXl="8">
          <nz-card class="primary-color-border-card" nzTitle="Free Plan" [nzActions]="[cardbutton]">
            <p>INR 0</p>
            <article nz-typography>
            <ul style="list-style-type:none">
            <li>
              <i nz-icon nzType="check-circle" nzTheme="outline"></i>Brief Plan feature no. 1
            </li>
            <li>
              <i nz-icon nzType="check-circle" nzTheme="outline"></i>Brief Plan feature no. 1
            </li>
            <li>
              <i nz-icon nzType="check-circle" nzTheme="outline"></i>Brief Plan feature no. 1
            </li>
            <li>
              <i nz-icon nzType="close-circle" nzTheme="outline"></i>Brief Plan feature no. 1
            </li>
            <li>
              <i nz-icon nzType="close-circle" nzTheme="outline"></i>Brief Plan feature no. 1
            </li>
            <li>
              <i nz-icon nzType="close-circle" nzTheme="outline"></i>Brief Plan feature no. 1
            </li>
            <li>
              <i nz-icon nzType="close-circle" nzTheme="outline"></i>Brief Plan feature no. 1
            </li>
          </ul>
         </article>
          </nz-card>
        </div>

        <div nz-col
        nzSm="24"
        nzMd="24"
        nzLg="8"
        nzXl="8">
          <nz-card class="primary-color-border-card" nzTitle="Plan 1" [nzActions]="[cardbutton]">
            <p>INR 1,999 per month</p>
            <article nz-typography>
            <ul style="list-style-type:none">
            <li>
              <i nz-icon nzType="check-circle" nzTheme="outline"></i>Brief Plan feature no. 1
            </li>
            <li>
              <i nz-icon nzType="check-circle" nzTheme="outline"></i>Brief Plan feature no. 1
            </li>
            <li>
              <i nz-icon nzType="check-circle" nzTheme="outline"></i>Brief Plan feature no. 1
            </li>
            <li>
              <i nz-icon nzType="check-circle" nzTheme="outline"></i>Brief Plan feature no. 1
            </li>
            <li>
              <i nz-icon nzType="check-circle" nzTheme="outline"></i>Brief Plan feature no. 1
            </li>
            <li>
              <i nz-icon nzType="close-circle" nzTheme="outline"></i>Brief Plan feature no. 1
            </li>
            <li>
              <i nz-icon nzType="close-circle" nzTheme="outline"></i>Brief Plan feature no. 1
            </li>
          </ul>
         </article>
          </nz-card>
        </div>

        <div nz-col
        nzSm="24"
        nzMd="24"
        nzLg="8"
        nzXl="8">
          <nz-card class="primary-color-border-card" nzTitle="Plan 2" [nzActions]="[cardbutton]">
            <p>INR 4,999 per month</p>
            <article nz-typography>
            <ul>
            <li>
              <i nz-icon nzType="check-circle" nzTheme="outline"></i>Brief Plan feature no. 1
            </li>
            <li>
              <i nz-icon nzType="check-circle" nzTheme="outline"></i>Brief Plan feature no. 1
            </li>
            <li>
              <i nz-icon nzType="check-circle" nzTheme="outline"></i>Brief Plan feature no. 1
            </li>
            <li>
              <i nz-icon nzType="check-circle" nzTheme="outline"></i>Brief Plan feature no. 1
            </li>
            <li>
              <i nz-icon nzType="check-circle" nzTheme="outline"></i>Brief Plan feature no. 1
            </li>
            <li>
              <i nz-icon nzType="check-circle" nzTheme="outline"></i>Brief Plan feature no. 1
            </li>
            <li>
              <i nz-icon nzType="check-circle" nzTheme="outline"></i>Brief Plan feature no. 1
            </li>
          </ul>
         </article>
          </nz-card>
          <ng-template #cardbutton>
           <button nz-button nzType="primary">Select This Plan</button>
          </ng-template>
        </div>
      </div>
