<div nz-row>
  <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
    <h3 class="primary-color-font">Approve Balance</h3>
    <p>Approve Account balance.</p>
  </div>
  <br />
  <br />
  <br />

  <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
    <nz-tabset
      [nzTabPosition]="'top'"
      [nzType]="'card'"
      [nzSelectedIndex]="tabIndex"
      (nzSelectedIndexChange)="tabChange($event)"
    >
      <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab">
        <div *ngIf="tab == 'Transactions'">
          <div nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <br />
            <h3 class="primary-color-font">
              Recent Transaction
            </h3>
            <br />
            <nz-table
              #headerTable
              [nzData]="companyTranscations"
              [nzPageSize]="50"
              [nzScroll]="{ y: '240px' }"
            >
              <thead>
                <tr>
                  <th nzWidth="150px">Date</th>
                  <th nzWidth="500px">Details</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of headerTable.data">
                  <td>
                    {{ data.initiated_ts * 1000 | date: "yyyy-MM-dd" }}
                  </td>
                  <td>
                    Txn Id: {{ data.details.transaction_id }},
                    {{ getStatusText(data.approval_status) }}, Amount -
                    {{ data.amount | currency: "₹" }}
                  </td>
                  <td>
                    <a
                      *ngIf="data.approval_status == 'pending_approval'"
                      (click)="approveTransaction(data)"
                      >Approve</a
                    >
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </nz-tab>
    </nz-tabset>
  </div>
  <br />
  <br />
</div>
