<!-- <div nz-row>
<h2 class="primary-color-font">Verify Email Address</h2>
<p>We've sent a 6-digit confirmation code to admin@briefkase.com. It will expire shortly, so enter it soon.</p>
</div>
<br><br>
<div nz-row>
  <div nz-col nzSm="2" nzMd="2" nzLg="4" nzXl="4"></div>
  <div nz-col nzSm="2" nzMd="2" nzLg="4" nzXl="4"></div>
  <div nz-col nzSm="16" nzMd="16" nzLg="8" nzXl="8" class="text-center">
         <ng-otp-input></ng-otp-input>
           <br><br><br>
          <button nz-button nzType="primary">
            Submit
          </button>
  </div>
  <div nz-col nzSm="2" nzMd="2" nzLg="4" nzXl="4"></div>
  <div nz-col nzSm="2" nzMd="2" nzLg="4" nzXl="4"></div>
</div> -->
