<div style="padding:10px">
  <div style="padding:10px">
    <mat-card style="color: white; background-color: black">
      <mat-grid-list cols="1" rowHeight="70px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-grid-list cols="6" rowHeight="35px">
            <mat-grid-tile
              [colspan]="1"
              [rowspan]="1"
              style="background-color: white; border-radius: 5px"
            >
            </mat-grid-tile>
          </mat-grid-list>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-grid-list cols="1" rowHeight="35px" style="width: 100%">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div style="width: 100%">
                <div
                  style="
                justify-content: center;
                display: flex;"
                >
                  1234-56789-444555-5344
                </div>
                <span
                  style="font-size: 10px;
                float: left;
                width: 50%;"
                >
                  4233
                </span>
                <span class="mat-body-1" style="width: 50%">Expire 05/24</span>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div style="width: 100%">
                <h3><b>Hello User</b></h3>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
  </div>

  <button
    mat-raised-button
    color="primary"
    class="full-width"
    [routerLink]="['/', 'card-pin-change']"
  >
    Change PIN
  </button>
  <h3 class="mat-body-1"><b>Card Limits</b></h3>
  <mat-card>
    <mat-grid-list cols="1" rowHeight="80px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div style="width: 100%;">
          <h3 class="mat-body-1" style="color:lightgrey; margin-bottom: unset;">
            <b>Daily Withdrawl Limits</b>
          </h3>
          <div style="text-align:center;">
            <mat-slider
              thumbLabel
              [displayWith]="formatLabel"
              tickInterval="1000"
              min="1"
              max="100000"
              style="width: 80%;"
            ></mat-slider>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div style="width: 100%;">
          <h3 class="mat-body-1" style="color:lightgrey; margin-bottom: unset;">
            <b>Daily Payments Limits</b>
          </h3>
          <div style="text-align:center;">
            <mat-slider
              thumbLabel
              [displayWith]="formatLabel"
              tickInterval="1000"
              min="1"
              max="100000"
              style="width: 80%;"
            ></mat-slider>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>

  <h3 class="mat-body-1"><b>Card Usage</b></h3>
  <mat-card>
    <mat-grid-list cols="1" rowHeight="80px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div style="width: 100%;">
          <h3 class="mat-body-1" style="color:lightgrey; margin-top: unset;">
            <b>Online Payments</b>
          </h3>
          <div>
            <mat-grid-list cols="3" rowHeight="30px">
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                Allow Online Payments
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-slide-toggle></mat-slide-toggle>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div style="width: 100%;">
          <h3 class="mat-body-1" style="color:lightgrey; margin-top: unset;">
            <b>Domestic Payments</b>
          </h3>
          <div style="text-align:center;">
            <mat-grid-list cols="3" rowHeight="30px">
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                Allow Domestic Payments
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-slide-toggle></mat-slide-toggle>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
  <br />
  <!-- <div style="width: 100%;"> -->
  <mat-grid-list cols="3" rowHeight="30px">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <div style="width: 100%; text-align: left">Disable Card</div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-slide-toggle
        [routerLink]="['/', 'deactivate-card']"
      ></mat-slide-toggle>
    </mat-grid-tile>
  </mat-grid-list>
  <p style="font-size: 12px;color: lightgrey;">
    You can temporarily disable your card at anytime.
  </p>
  <!-- </div> -->
</div>
