<div nz-row>
  <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
    <a class="back-button-text"
      ><img
        class="back-img"
        src="assets/images/back-button.svg"
      />&nbsp;&nbsp;BACK</a
    >
    <br />
    <h3 class="primary-color-font">Pay Salary</h3>
  </div>
</div>
<div nz-row nzType="flex" nzJustify="center">
  <nz-card class="primary-color-border-card text-center">
    <div nz-row>
      <img src="assets/images/success-tick.svg" class="success-tick" />
    </div>
    <div nz-row>
      <h2>Salary Paid</h2>
      <br />
      <p>You will be redirect to the dashboard in 5 secs…</p>
    </div>
    <div nz-row>
      <p>Total Amount paid</p>
      <p></p>
      <h1>{{ totalAmount | currency: "₹" }}</h1>
    </div>
    <div nz-row>
      <p>Your Current Enviar A/C Balance</p>
      <p></p>
      <h3>{{ companyBalance | currency: "₹" }}</h3>
    </div>
  </nz-card>
</div>
