<div nz-row>
  <div nz-col
  nzSm="24"
  nzMd="24"
  nzLg="24"
  nzXl="24">
  <a class="back-button-text"><img class="back-img" src="assets/images/back-button.svg">&nbsp;&nbsp;BACK</a>
  <br>
    <h3 class="primary-color-font">Top-Up koppr Account</h3>
  </div>
</div>
<div nz-row nzType="flex" nzJustify="center">
  <nz-card class="text-center primary-color-border-card">
    <div nz-row>
     <img src="assets/images/success-tick.svg" class="success-tick">
    </div>
   <div nz-row>
       <h2>Account Top-Up Successful!</h2><br>
       <p>You will be redirect to the dashboard in 5 secs…</p>
     </div>
     <div nz-row>
         <p>Top-Up Amount<p>
         <h1>₹ 14,23,565</h1>
     </div>
     <div nz-row>
         <p>Your Current Enviar A/C Balance<p>
         <h3>₹ 17,34,989</h3>
     </div>
     <div nz-row>
         <button nz-button nzType="primary">
       Continue Salary Disbursement
      </button>
       </div>
   </nz-card>
 </div>
