<div class="p-10-30">
  <!-- <mat-card class="blue-border-card"> -->
    <div class="text-center">
      <h3 class="primary-color">Aadhaar Enabled Payment System</h3>
      <form [formGroup]="inputForm">
        <mat-form-field appearance="outline"  class="full-width">
            <mat-label class="primary-color">Aadhaar Number</mat-label>
            <input matInput formControlName="aadhaarNumber"> 
            <mat-error>Enter 12 digit Aadhaar no.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline"  class="full-width">
            <mat-label class="primary-color">Registered Mobile Number</mat-label>
            <input matInput formControlName="mobileNumber"> 
            <mat-error>Enter Mobile no.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline"  class="full-width">
            <mat-label class="primary-color">Amount</mat-label>
            <input matInput formControlName="amount"> 
            <mat-error>Enter Amount.</mat-error>
        </mat-form-field>
    </form>
    <button 
    mat-raised-button 
    color="primary"
    class="full-width"
    [disabled]="!inputForm.valid"
    (click)="submit()"
    >Proceed</button>
    </div>
  <!-- </mat-card> -->
</div>
