<!-- <div style="height:80px"></div> -->
<div style="padding:10px">
  <mat-grid-list cols="1" rowHeight="25px">
    <mat-grid-tile colspan="1" rowspan="1">
      <div class="spend-month-select-wrapper">
        <mat-form-field appearance="none" class="enviar-form">
          <div class="enviar-select-wrapper">
            <mat-select value="option1">
              <mat-option value="option1">Sept 2019</mat-option>
              <mat-option value="option2">Oct 2019</mat-option>
              <mat-option value="option3">Nov 2019</mat-option>
            </mat-select>
          </div>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="3">
      <div class="text-center">
        <h1 style="margin: 5px">
          <b>{{ 12345678 | currency: "INR" }}</b>
        </h1>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div>
  <mat-grid-list cols="1" rowHeight="60px">
    <mat-grid-tile
      *ngFor="let item of categories"
      [colspan]="item.cols"
      [rowspan]="item.rows"
    >
      <mat-grid-list
        cols="3"
        rowHeight="60px"
        style="width: 100%;
        background: white;
        border-bottom: 1px solid lightgray;"
      >
        <mat-grid-tile colspan="2" rowspan="1">
          <div style="padding: 10px; width: 100%">
            <div>
              <b>
                {{ item.text }}
              </b>
            </div>
            <div style="color: lightgrey">
              {{ item.date | date: "dd MMM yyyy" }}
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <div>{{ item.amount | currency: "₹" }}</div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-grid-tile>
  </mat-grid-list>
</div>
