<!-- <div style="height:80px"></div> -->
<div style="padding:10px">
  <mat-grid-list cols="1" rowHeight="25px">
    <mat-grid-tile colspan="1" rowspan="1">
      <div class="spend-month-select-wrapper">
        <mat-form-field appearance="none" class="enviar-form">
          <div class="enviar-select-wrapper">
            <mat-select value="option1">
              <mat-option value="option1">Sept 2019</mat-option>
              <mat-option value="option2">Oct 2019</mat-option>
              <mat-option value="option3">Nov 2019</mat-option>
            </mat-select>
          </div>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="3">
      <div class="text-center">
        <h4 style="margin: 5px"><b>My Account Balance</b></h4>
        <h1 style="margin: 5px">
          <b>{{ 1234567 | currency: "₹" }}</b>
        </h1>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <h4 style="margin: unset;">Categories</h4>
</div>

<div>
  <mat-grid-list cols="1" rowHeight="60px">
    <mat-grid-tile
      *ngFor="let item of categories"
      [colspan]="item.cols"
      [rowspan]="item.rows"
      [routerLink]="['/', item.route]"
    >
      <mat-grid-list
        cols="3"
        rowHeight="60px"
        style="width: 100%;
        background: white;
        border-bottom: 1px solid lightgray;"
      >
        <mat-grid-tile colspan="2" rowspan="1">
          <div style="padding: 0 10px">
            <mat-icon class="drag-handler">{{ item.icon }}</mat-icon>
          </div>
          <div class="spend-item">
            {{ item.text }}
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <div>{{ item.amount | currency: "₹" }}</div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div class="full-width text-center" style="padding: 10px 0">
  <button
    mat-raised-button
    color="primary"
    class="full-width"
    [routerLink]="['/', 'spend-analyser']"
    style="width: 75%"
  >
    Spend Analyser
  </button>
</div>
