<div class="p-10-30">
  <!-- <mat-card class="blue-border-card"> -->
    <div class="text-center">
        <h3 class="primary-color">DTH Recharge</h3>
      <form [formGroup]="inputForm">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label class="primary-color">Customer Id</mat-label>
          <input matInput formControlName="customerId"> 
          <mat-error>Enter Customer Id</mat-error>
        </mat-form-field> 
        <mat-form-field class="full-width">
          <mat-label class="primary-color">Operator</mat-label>
          <mat-select>
            <mat-option *ngFor="let operator of operators" [value]="operator.value">
              {{operator.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field> 
        <mat-form-field appearance="outline" class="full-width">
          <mat-label class="primary-color">Amount</mat-label>
          <input matInput formControlName="amount">
          <mat-error>Enter Amount</mat-error>
        </mat-form-field>
        </form>     
        <button 
        mat-raised-button 
        class="full-width"
        color="primary"
        [disabled]="!inputForm.valid"
        (click)="submit()"
        >Proceed to Recharge</button>   
    </div>
  <!-- </mat-card> -->
</div>