.phone-select {
  width: 70px;
}

.card-image {
  height: auto;
  width: 100%;
}

.card-div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-color-border-card {
  height: 60%;
  width: 60%;
}