button {
  margin-top: 3px;
}

.main-card{
  width: 100%;
  max-width: 820px;
  height: auto;
  max-height: 660px;
}
.image-card{
  width: 100%;
  max-width: 760px;
  height: auto;
  max-height: 180px;
}

.image-card{ 
  max-width: 760px;
  max-height: 330px;
}
