<div nz-row>
  <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
    <h3 class="primary-color-font">Claims</h3>
    <p>Manage and action claims made by your employees from here.</p>
  </div>
</div>
<div nz-row>
  <div
    nz-col
    nzSm="24"
    nzMd="24"
    nzLg="6"
    nzXl="6"
    *ngFor="let item of balanceCards"
  >
    <nz-card
      class="primary-color-border-card"
      [ngClass]="item.bgClass"
      [routerLink]="item.routerLink"
    >
      <p>{{ item.title }}</p>
      <h1>{{ item.text }}</h1>
      <p *ngIf="item.showDetail">
        <span>
          {{ item.desc }}
          &nbsp;<i nz-icon nzType="arrow-right" nzTheme="outline"></i>
        </span>
      </p>
      <div *ngIf="!item.showDetail" style="height: 40px;"></div>
    </nz-card>
  </div>
</div>
<br />
<div nz-row>
  <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
      <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab">
        <div *ngIf="tab == 'All'">
          <div nz-row>
            <div nz-col nzSm="24" nzMd="24" nzLg="22" nzXl="22">
              <nz-input-group
                class="margin-5px"
                [nzSuffix]="suffixIconSearch"
                style="width: 100% ;max-width :400px"
              >
                <input
                  type="text"
                  [(ngModel)]="searchText"
                  nz-input
                  placeholder="Search claim"
                />
              </nz-input-group>
              <ng-template #suffixIconSearch>
                <i nz-icon nzType="search"></i>
              </ng-template>
            </div>

            <div nz-col nzSm="24" nzMd="24" nzLg="2" nzXl="2">
              <!-- <button class="margin-5px" nz-button nz-dropdown [nzDropdownMenu]="menu0">
                Sort
                <i nz-icon nzType="down"></i>
              </button>
              <nz-dropdown-menu #menu0="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item>By ??</li>
                  <li nz-menu-item>By ??</li>
                  <li nz-menu-item>By ??</li>
                </ul>
              </nz-dropdown-menu> -->
            </div>
          </div>
          <br />
          <nz-table #nzTable [nzData]="claimsData" [nzScroll]="{ y: '240px' }">
            <thead>
              <tr>
                <th nzWidth="220px">Claim #</th>
                <th nzWidth="220px">Email</th>
                <th nzWidth="120px">Date</th>
                <th nzWidth="180px">Status</th>
                <th nzWidth="150px">Type</th>
                <th nzWidth="150px">Claim Amount</th>
                <th>Actions</th>
                <!-- <th></th>
                <th></th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of nzTable.data | filter: searchText">
                <td>{{ data._id }}</td>
                <td>{{ getEmployeeEmail(data.employee) }}</td>
                <td>{{ data.initiated_ts * 1000 | date: "yyyy-MM-dd" }}</td>
                <td>{{ getStatusText(data.approval_status) }}</td>
                <td>{{ data.amount_type }}</td>
                <td>{{ data.amount }}</td>
                <td>
                  <a
                    [routerLink]="['/', 'claims', 'details', data._id]"
                    class="medium-color-font"
                    ><span>
                      View
                      <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
                    </span>
                  </a>
                </td>
                <!-- <td><a (click)="approveClaims(data._id)">Approve</a></td>
                <td (click)="rejectClaims(data._id)"><a>Reject</a></td> -->
              </tr>
            </tbody>
          </nz-table>
        </div>

        <div *ngIf="tab == 'Pending'">
          <div nz-row>
            <div nz-col nzSm="24" nzMd="24" nzLg="22" nzXl="22">
              <nz-input-group
                class="margin-5px"
                [nzSuffix]="suffixIconSearch"
                style="width: 100% ;max-width :400px"
              >
                <input
                  type="text"
                  [(ngModel)]="searchText"
                  nz-input
                  placeholder="Search claim"
                />
              </nz-input-group>
              <ng-template #suffixIconSearch>
                <i nz-icon nzType="search"></i>
              </ng-template>
            </div>

            <div nz-col nzSm="24" nzMd="24" nzLg="2" nzXl="2">
              <!-- <button class="margin-5px" nz-button nz-dropdown [nzDropdownMenu]="menu0">
                Sort
                <i nz-icon nzType="down"></i>
              </button>
              <nz-dropdown-menu #menu0="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item>By ??</li>
                  <li nz-menu-item>By ??</li>
                  <li nz-menu-item>By ??</li>
                </ul>
              </nz-dropdown-menu> -->
            </div>
          </div>
          <br />
          <nz-table
            #nzTable
            [nzData]="pendingClaimsData"
            [nzScroll]="{ y: '240px' }"
          >
            <thead>
              <tr>
                <th nzWidth="220px">Claim #</th>
                <th nzWidth="220px">Email</th>
                <th nzWidth="120px">Date</th>
                <th nzWidth="180px">Status</th>
                <th nzWidth="150px">Type</th>
                <th nzWidth="150px">Claim Amount</th>
                <th>Actions</th>
                <!-- <th></th>
              <th></th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of nzTable.data | filter: searchText">
                <td>{{ data._id }}</td>
                <td>{{ getEmployeeEmail(data.employee) }}</td>
                <td>{{ data.initiated_ts * 1000 | date: "yyyy-MM-dd" }}</td>
                <td>{{ getStatusText(data.approval_status) }}</td>
                <td>{{ data.amount_type }}</td>
                <td>{{ data.amount }}</td>
                <td>
                  <a [routerLink]="['/', 'claims', 'details', data._id]"
                    >View <i nz-icon nzType="right-circle" nzTheme="outline"></i
                  ></a>
                </td>
                <!-- <td><a (click)="approveClaims(data._id)">Approve</a></td>
              <td (click)="rejectClaims(data._id)"><a>Reject</a></td> -->
              </tr>
            </tbody>
          </nz-table>
        </div>
        <div *ngIf="tab == 'Rejected'">
          <div nz-row>
            <div nz-col nzSm="24" nzMd="24" nzLg="22" nzXl="22">
              <nz-input-group
                class="margin-5px"
                [nzSuffix]="suffixIconSearch"
                style="width: 100% ;max-width :400px"
              >
                <input
                  type="text"
                  [(ngModel)]="searchText"
                  nz-input
                  placeholder="Search claim"
                />
              </nz-input-group>
              <ng-template #suffixIconSearch>
                <i nz-icon nzType="search"></i>
              </ng-template>
            </div>

            <div nz-col nzSm="24" nzMd="24" nzLg="2" nzXl="2">
              <!-- <button class="margin-5px" nz-button nz-dropdown [nzDropdownMenu]="menu0">
                Sort
                <i nz-icon nzType="down"></i>
              </button>
              <nz-dropdown-menu #menu0="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item>By ??</li>
                  <li nz-menu-item>By ??</li>
                  <li nz-menu-item>By ??</li>
                </ul>
              </nz-dropdown-menu> -->
            </div>
          </div>
          <br />
          <div class="claims-table">
            <nz-table
              #nzTable
              [nzData]="rejectedClaimsData"
              [nzScroll]="{ y: '240px' }"
            >
              <thead>
                <tr>
                  <th nzWidth="220px">Claim #</th>
                  <th nzWidth="220px">Email</th>
                  <th nzWidth="120px">Date</th>
                  <th nzWidth="180px">Status</th>
                  <th nzWidth="150px">Type</th>
                  <th nzWidth="150px">Claim Amount</th>
                  <th>Actions</th>
                  <!-- <th></th>
              <th></th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of nzTable.data | filter: searchText">
                  <td>{{ data._id }}</td>
                  <td>{{ getEmployeeEmail(data.employee) }}</td>
                  <td>{{ data.initiated_ts * 1000 | date: "yyyy-MM-dd" }}</td>
                  <td>{{ getStatusText(data.approval_status) }}</td>
                  <td>{{ data.amount_type }}</td>
                  <td>{{ data.amount }}</td>
                  <td>
                    <a [routerLink]="['/', 'claims', 'details', data._id]"
                      >View
                      <i nz-icon nzType="right-circle" nzTheme="outline"></i
                    ></a>
                  </td>
                  <!-- <td><a (click)="approveClaims(data._id)">Approve</a></td>
              <td (click)="rejectClaims(data._id)"><a>Reject</a></td> -->
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
        <div *ngIf="tab == 'Approved'">
          <div nz-row>
            <div nz-col nzSm="24" nzMd="24" nzLg="22" nzXl="22">
              <nz-input-group
                class="margin-5px"
                [nzSuffix]="suffixIconSearch"
                style="width: 100% ;max-width :400px"
              >
                <input
                  type="text"
                  [(ngModel)]="searchText"
                  nz-input
                  placeholder="Search claim"
                />
              </nz-input-group>
              <ng-template #suffixIconSearch>
                <i nz-icon nzType="search"></i>
              </ng-template>
            </div>

            <div nz-col nzSm="24" nzMd="24" nzLg="2" nzXl="2">
              <!-- <button class="margin-5px" nz-button nz-dropdown [nzDropdownMenu]="menu0">
                Sort
                <i nz-icon nzType="down"></i>
              </button>
              <nz-dropdown-menu #menu0="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item>By ??</li>
                  <li nz-menu-item>By ??</li>
                  <li nz-menu-item>By ??</li>
                </ul>
              </nz-dropdown-menu> -->
            </div>
          </div>
          <br />
          <nz-table
            #nzTable
            [nzData]="settledClaimsData"
            [nzScroll]="{ y: '240px' }"
          >
            <thead>
              <tr>
                <th nzWidth="220px">Claim #</th>
                <th nzWidth="220px">Email</th>
                <th nzWidth="120px">Date</th>
                <th nzWidth="180px">Status</th>
                <th nzWidth="150px">Type</th>
                <th nzWidth="150px">Claim Amount</th>
                <th>Actions</th>
                <!-- <th></th>
              <th></th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of nzTable.data | filter: searchText">
                <td>{{ data._id }}</td>
                <td>{{ getEmployeeEmail(data.employee) }}</td>
                <td>{{ data.initiated_ts * 1000 | date: "yyyy-MM-dd" }}</td>
                <td>{{ getStatusText(data.approval_status) }}</td>
                <td>{{ data.amount_type }}</td>
                <td>{{ data.amount }}</td>
                <td>
                  <a [routerLink]="['/', 'claims', 'details', data._id]"
                    >View <i nz-icon nzType="right-circle" nzTheme="outline"></i
                  ></a>
                </td>
                <!-- <td><a (click)="approveClaims(data._id)">Approve</a></td>
              <td (click)="rejectClaims(data._id)"><a>Reject</a></td> -->
              </tr>
            </tbody>
          </nz-table>
        </div>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
