<div nz-row>
  <div nz-col nzSm="12" nzMd="12" nzLg="20" nzXl="20">
    <h3 class="primary-color-font">Super Distributors</h3>
    <p>Add, View and Manage your Super Distributors here.</p>
  </div>

  <div nz-col nzSm="12" nzMd="12" nzLg="4" nzXl="4">
    <button
      class="margin-5px "
      nz-button
      nzType="primary"
      [routerLink]="['/', 'super-distributor', 'add']"
    >
      <i nz-icon nzType="plus-circle" nzTheme="outline" style="color: #fff"></i
      >&nbsp;Add Super Distributor
    </button>
  </div>
</div>

<div nz-row>
  <div nz-col nzSm="24" nzMd="24" nzLg="22" nzXl="22">
    <nz-input-group
      class="margin-5px"
      [nzSuffix]="suffixIconSearch"
      style="width: 100% ;max-width :400px"
    >
      <input
        type="text"
        [(ngModel)]="searchText"
        nz-input
        placeholder="Search Super Distributor"
      />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
  </div>

  <div nz-col nzSm="24" nzMd="24" nzLg="2" nzXl="2">
    <!-- <button class="margin-5px" nz-button nz-dropdown [nzDropdownMenu]="menu0">
          Sort
          <i nz-icon nzType="down"></i>
        </button>
        <nz-dropdown-menu #menu0="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>By ??</li>
            <li nz-menu-item>By ??</li>
            <li nz-menu-item>By ??</li>
          </ul>
        </nz-dropdown-menu> -->
  </div>
</div>

<br />
<div nz-row>
  <nz-table
    #headerTable
    [nzData]="superDistributorList"
    [nzPageSize]="1000"
    [nzScroll]="{ y: '240px' }"
  >
    <thead>
      <tr> 
        <th nzWidth="200px">Name</th>
        <th nzWidth="200px">Mobile</th>
        <th nzWidth="200px">Company</th> 
        <th nzWidth="250px">Email</th> 
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of headerTable.data | filter: searchText"> 
        <td>{{ data.firstname }} {{ data.lastname }}</td>
        <td>
          {{ data.phone }}
        </td>
        <td>
          {{ data.company_name }}
        </td>
        <td>
          {{ data.email }}
        </td> 
        <td>
          <button nz-button class="table-btn" (click)="editRoute(data)">
            <i nz-icon class="edit-icon" nzType="edit"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
