<div nz-row>
  <div nz-row>
    <div nz-col nzSm="8" nzMd="8" nzLg="12" nzXl="12">
      <h3 class="primary-color-font">Allowance Disbursement</h3>
      <p>Manage and disburse allowance to your employees from here.</p>
    </div>
    <div nz-col nzSm="8" nzMd="8" nzLg="10" nzXl="10"></div>
    <div nz-col nzSm="8" nzMd="8" nzLg="2" nzXl="2">
      <button
        nz-button
        nzType="primary"
        [routerLink]="['/', 'allowance', 'pay']"
      >
        Pay Allowances
      </button>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSm="24" nzMd="24" nzLg="6" nzXl="6">
      <div nz-row nzJustify="center">
        <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
          <div nz-row *ngFor="let item of infoCards" class="margin-bottom-10">
            <nz-card class="primary-color-border-card" [routerLink]="item.routerLink">
              <p>{{ item.title }}</p>
              <div nz-row>
                <div nz-col nzXl="7">
                  <li>
                    <img src="{{ item.iconImg }}" />
                  </li>
                </div>
                <div nz-col nzXl="17">
                  <h2 class="primary-color-h2 card-h2">
                    {{ item.text }}
                  </h2>
                </div>
              </div>
            </nz-card>
          </div>
        </div>
        <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
          <div
            nz-row
            *ngFor="let item of balanceCards"
            class="margin-bottom-10"
          >
            <nz-card
              class="primary-color-border-card"
              [ngClass]="item.bgClass"
              [routerLink]="item.routerLink"
            >
              <p>{{ item.title }}</p>
              <h1>{{ item.text | currency: "₹" }}</h1>
              <p>
                <span>
                  {{ item.desc }} 
                  &nbsp;<i nz-icon nzType="arrow-right" nzTheme="outline"></i>
                </span>
              </p>
            </nz-card>
          </div>
        </div>
      </div>
    </div>
    <div nz-col nzSm="24" nzMd="24" nzLg="18" nzXl="18">
      <div nz-row>
        <div nz-col nzSm="24" nzMd="24" nzLg="14" nzXl="14">
          <h3 class="primary-color-font">&nbsp;Allowance Paid Summary</h3>
        </div>
        <div nz-col nzSm="24" nzMd="24" nzLg="5" nzXl="5">
          <!-- <button
            nz-button
            nz-dropdown
            nzType="info"
            [nzDropdownMenu]="menu3"
            class="margin-5px"
          >
            All Allowances
            <i nz-icon nzType="down"></i>
          </button>
          <nz-dropdown-menu #menu3="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>All Allowances</li>
              <li nz-menu-item>Food</li>
              <li nz-menu-item>Fuel</li>
              <li nz-menu-item>Expenses</li>
            </ul>
          </nz-dropdown-menu> -->
        </div>
        <div nz-col nzSm="24" nzMd="24" nzLg="5" nzXl="5">
          <!-- <button
            nz-button
            nz-dropdown
            nzType="info"
            [nzDropdownMenu]="menu4"
            class="margin-5px"
          >
            Past 6 months
            <i nz-icon nzType="down"></i>
          </button> -->
          <!-- <nz-dropdown-menu #menu4="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>Past 6 months</li>
              <li nz-menu-item>Past 3 months</li>
              <li nz-menu-item>Past 1 month</li>
            </ul>
          </nz-dropdown-menu> -->
        </div>
      </div>
      <br /><br /><br />
      <div nz-row>
        <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
          <div nz-row>
            <div nz-col nzSm="24" nzMd="24" nzLg="3" nzXl="3"></div>
            <div nz-col nzSm="24" nzMd="24" nzLg="20" nzXl="20">
              <canvas
                baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barGraphOptions.options"
                [colors]="barGraphOptions.colors"
                [legend]="barGraphOptions.legend"
                [chartType]="barGraphOptions.type"
                [plugins]="barGraphOptions.plugins"
              >
              </canvas>
            </div>
            <div nz-col nzSm="24" nzMd="24" nzLg="1" nzXl="1"></div>
          </div>
        </div>
        <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
          <!-- <button nz-button nzSize="small" nzType="info" (click)="randomize()">Test BarChart</button> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div nz-row>
  <br />
  <h4>Allowance paid details</h4>
  <br />

  <nz-table
    #headerTable
    [nzData]="txnsData"
    [nzPageSize]="50"
    [nzScroll]="{ y: '240px' }"
  >
    <thead>
      <tr>
        <th nzWidth="130px">Paid On</th>
        <th nzWidth="130px">Amount</th>
        <th nzWidth="130px">Month</th>
        <th nzWidth="200px">Employees Paid</th>
        <!-- <th nzWidth="130px">Paid by</th> -->
        <th nzWidth="130px">Amount Type</th>

        <!-- <th nzWidth="130px">Approval Status</th> -->
        <!-- <th></th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of headerTable.data">
        <td nzWidth="130px">
          {{ data.modified_ts * 1000 | date: "yyyy-MM-dd" }}
        </td>
        <td nzWidth="130px">{{ data.amount | currency: "₹" }}</td>
        <td nzWidth="130px">{{ data.modified_ts * 1000 | date: "MM" }}</td>
        <td nzWidth="200px">{{ getEmployeeEmail(data.employee) }}</td>
        <!-- <td nzWidth="130px">{{ data.company }}</td> -->
        <td nzWidth="130px">{{ data.amount_type }}</td>

        <!-- <td nzWidth="130px">{{ data.approval_status }}</td> -->
        <!-- <td>
          <button nz-button class="table-btn">
            View Details<i nz-icon nzType="arrow-right" nzTheme="outline"></i>
          </button>
        </td> -->
      </tr>
    </tbody>
  </nz-table>
</div>
