<div nz-row>
  <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
    <a class="back-button-text"
      ><img
        class="back-img"
        src="assets/images/back-button.svg"
      />&nbsp;&nbsp;BACK</a
    >
    <br />
    <h3 class="primary-color-font">Pay Salaries</h3>
  </div>
</div>
<div nz-row nzType="flex" nzJustify="center">
  <nz-card class="primary-color-border-card">
    <div nz-row>
      <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <h3>Top-Up Required</h3>
        <br />
        <p>You have insufficient funds in your Enviar A/C.</p>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <p>Your Current Enviar A/C Balance</p>
        <p></p>
        <h3>₹ 3,47,745</h3>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSm="8" nzMd="8" nzLg="8" nzXl="8">
        <p>Amount to be Paid</p>
        <p></p>
        <h3>₹ 17,34,989</h3>
      </div>
      <div nz-col nzSm="8" nzMd="8" nzLg="8" nzXl="8">
        <p>Paying Salaries for the Month of</p>
        <p></p>
        <h3>October</h3>
      </div>
      <div nz-col nzSm="8" nzMd="8" nzLg="8" nzXl="8">
        <p>No. of Employees</p>
        <p></p>
        <h3>35</h3>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <p>Top Up Required</p>
        <h1>₹ 14,23,565</h1>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div nz-row>
          <div class="text-center" nz-col nzSm="24" nzMd="24" nzLg="8" nzXl="8">
            <button nz-button nzType="primary">
              <span>Confirm Salary Disbursement</span>
            </button>
          </div>
          <div class="text-center" nz-col nzSm="24" nzMd="24" nzLg="8" nzXl="8">
            <button nz-button nzType="info">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </nz-card>
</div>
