<div nz-row>
  <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
    <a class="back-button-text"
      ><img
        class="back-img"
        src="assets/images/back-button.svg"
      />&nbsp;&nbsp;BACK</a
    >
    <br />
    <h3 class="primary-color-font">Top-Up koppr Account</h3>
  </div>
</div>
<div nz-row>
  <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
    <p>Top Up Amount</p>
    <h2>₹ 14,23,565</h2>
  </div>
</div>
<div nz-row nzType="flex" nzJustify="center">
  <nz-card class="text-center primary-color-border-card">
    <h3>Payment Gateway Screens</h3>
  </nz-card>
</div>
