<div nz-row>
  <div nz-col nzSm="8" nzMd="8" nzLg="12" nzXl="12">
    <a
      class="back-button-text"
      [routerLink]="['/', 'employee', 'list', 'add-type-selection']"
      ><img
        class="back-img"
        src="assets/images/back-button.svg"
      />&nbsp;&nbsp;BACK</a
    >
    <br />
    <br />
    <h3 class="primary-color-font">Bulk Upload</h3>
    <p>Add Employees by uploading excel</p>
  </div>
  <div nz-col nzSm="8" nzMd="8" nzLg="9" nzXl="9"></div>
  <div nz-col nzSm="8" nzMd="8" nzLg="3" nzXl="3">
    <a nz-button nzType="info" href="assets/bulk/Bulk-Add-Employee-Sample.csv"
      >Download Sample Excel</a
    >
  </div>
</div>
<br />

<input type="file" accept=".csv" (change)="onFileChange($event)" />

<div id="output"></div>
<br />
<!-- <div *ngIf="willDownload">
  <a id="download">
    Download JSON File
  </a>
</div> -->

<br />
<div nz-row>
  <div nz-col nzSm="12" nzMd="12" nzLg="12" nzXl="12">
    <div nz-row>
      <div nz-col nzSm="8" nzMd="8" nzLg="8" nzXl="8">
        <button
          [disabled]="jsonData == null"
          nz-button
          nzType="primary"
          (click)="importData()"
        >
          Import
        </button>
      </div>
      <div nz-col nzSm="8" nzMd="8" nzLg="8" nzXl="8"></div>
      <div nz-col nzSm="8" nzMd="8" nzLg="8" nzXl="8">
        <!-- <button nz-button nzType="primary" (click)="importData()">
          Import
        </button> -->
      </div>
    </div>
  </div>
</div>

<br />

<nz-alert
  *ngIf="success.length > 0"
  nzType="success"
  nzMessage="Success Tips"
  [nzDescription]="successTemplate"
  nzShowIcon
>
</nz-alert>
<br />
<nz-alert
  *ngIf="error.length > 0"
  nzType="error"
  nzMessage="Error"
  [nzDescription]="errorTemplate"
  nzShowIcon
>
</nz-alert>

<ng-template #errorTemplate>
  We could not send emails to the following {{ error.length }} employees as
  either the mobile number or email address entered has already been registered
  on Enviar:
  <br />
  <div *ngFor="let item of error">
    {{ item.email }}, Details - {{ parseError(item.details) }}
  </div>
</ng-template>

<ng-template #successTemplate>
  We have successfully sent emails to the following
  {{ success.length }} employees to complete their Enviar signup process.
  <br />
  <br />
  <span *ngFor="let item of success"> {{ item.email }},&nbsp; </span>
</ng-template>
