<div nz-row>
  <div
    nzType="flex"
    nzJustify="center"
    nz-col
    nzSm="24"
    nzMd="24"
    nzLg="24"
    nzXl="24"
  >
    <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
      <a class="back-button-text" [routerLink]="['/', 'employee', 'list']"><img class="back-img" src="assets/images/back-button.svg" />&nbsp;&nbsp;BACK</a>
      <br />
      <h3 class="primary-color-font">Add Employee</h3>
      <p>Add an employee here.</p>
    </div>

    <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
      <br />
      Select one of the following methods to proceed.
    </div>

    <div nz-row>
      <br />

      <div nz-col nzSm="24" nzMd="24" nzLg="11" nzXl="11">
        <nz-card class="primary-color-border-card" [routerLink]="['/', 'employee', 'bulk']">
          <i nz-icon nzType="cloud-upload" nzTheme="outline"></i>
          <h2>Bulk Upload</h2>
          <p>
            Add employees by uploading excel.
          </p>
        </nz-card>
      </div>
      <div
        nz-col
        nzSm="2"
        nzMd="2"
        nzLg="2"
        nzXl="2"
        nzType="flex"
        nzJustify="space-around"
        nzAlign="middle"
      ></div>
      <div nz-col nzSm="24" nzMd="24" nzLg="11" nzXl="11">
        <nz-card class="primary-color-border-card" [routerLink]="['/', 'employee', 'add']">
          <i nz-icon nzType="plus" nzTheme="outline"></i>
          <h2>Add Manually</h2>
          <p>
            Use our interface to upload employees one by one.
          </p>
        </nz-card>
      </div>
    </div>
  </div>
</div>
