<div nz-row>
  <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
    <h3 class="primary-color-font">Transactions</h3>
    <p>View and Manage your Transactions here.</p>
  </div>
</div>
<div nz-row>
  <div nz-col nzSm="24" nzMd="24" nzLg="22" nzXl="22">
    <nz-input-group
      class="margin-5px"
      [nzSuffix]="suffixIconSearch"
      style="width: 100%; max-width: 400px;"
    >
      <input
        type="text"
        [(ngModel)]="searchText"
        nz-input
        placeholder="Search"
      />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
  </div>
  <div nz-col nzSm="24" nzMd="24" nzLg="2" nzXl="2">
    <!-- <button class="margin-5px" nz-button nz-dropdown [nzDropdownMenu]="menu0">
          Sort
          <i nz-icon nzType="down"></i>
        </button>
        <nz-dropdown-menu #menu0="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>By ??</li>
            <li nz-menu-item>By ??</li>
            <li nz-menu-item>By ??</li>
          </ul>
        </nz-dropdown-menu> -->
  </div>
</div>
<br />
<div nz-row>
  <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
    <nz-table #walletTransactions [nzData]="walletTransactionList">
      <thead>
        <tr>
          <th>Type</th>
          <th>Amount</th>
          <th>Mode</th>
          <th>Transaction ID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of walletTransactions.data | filter: searchText">
          <td>{{ data.wl_tr_type }}</td>
          <td>{{ data.trn_amount }}</td>
          <td>{{ data.wl_tr_mode }}</td>
          <td>{{ data.wl_tr_id }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
