<div style="padding: 10px;">
  <mat-grid-list cols="1" rowHeight="80px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="full-width">
        <div class="mat-body-1">Filed on</div>
        <div class="mat-h3">
          <b>{{ date | date: "dd MMMM yyyy" }}</b>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="full-width">
        <div class="mat-body-1">Category</div>
        <div class="mat-h3">
          <b>Fuel</b>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="full-width">
        <div class="mat-body-1">Amount</div>
        <div class="mat-h3">
          <b>&#8377; 1,000</b>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="full-width">
        <div class="mat-body-1">Status</div>
        <div class="mat-h3">
          <b>
            <span>Approved</span> <span><mat-icon>done</mat-icon></span>
          </b>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
