<!-- <header-component title="Login"></header-component> -->
<div class="p-10-30">
  <div class="full-width text-center">
    <h2 class="primary-color">
      Did you forgot your password?
    </h2>
    <p>Enter your email address you're using for your account below
     and we will sent you a password reset link</p>
    <form [formGroup]="forgotPasswordForm">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label class="primary-color">Enter Email Address</mat-label>
        <input matInput formControlName="email">
        <mat-error>Enter a valid email.</mat-error>  
      </mat-form-field>  
    </form>
    <br />
    <button
      mat-raised-button
      class="full-width"
      color="primary" 
      (click)="fotgotPassword()"
      [disabled]="!forgotPasswordForm.valid"
    >
      Reset password
    </button>
  </div>
</div>
