<div nz-row>
    <div nz-col nzSm="24" nzMd="24" nzLg="6" nzXl="6"></div>
    <div nz-col nzSm="24" nzMd="24" nzLg="12" nzXl="12">
        <br><br><br>
        <h2 class="primary-color-font text-center">
            Did you forgot your password?
          </h2>
        <p class="text-center">Enter your email address you're using for your account below <br>
           and we will sent you a password reset link</p>
           <br>
           <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                <input nz-input formControlName="email" id="email" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row class="register-area">
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <button nz-button nzType="primary" class="button-center">Request Reset Link</button>
              </nz-form-control>
            </nz-form-item>
          </form>
    </div>
</div>
    
      