<!-- <div style="height:80px"></div> -->
<div style="padding:10px">
  <mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile colspan="1" rowspan="1">
      <div class="text-center">
        <h2><b>Enter Unique Code</b></h2>
        <p>Please enter the unique code sent to your email id</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <!-- <mat-form-field appearance="none" class="enviar-input-wrapper"> -->
      <div class="enviar-input-wrapper" style="width: 100%">
        <input matInput type="email" placeholder="Unique Code" value="" />
      </div>
      <!-- </mat-form-field> -->
    </mat-grid-tile>
  </mat-grid-list>
  <br />
  <button
    mat-raised-button
    color="primary"
    class="full-width"
    [routerLink]="['/', 'pots']"
  >
    Proceed
  </button>
</div>
