<!-- <div style="height:80px"></div> -->
<div style="padding:10px">
  <mat-grid-list cols="1" rowHeight="100px" class="text-center">
    <mat-grid-tile colspan="1" rowspan="1">
      <div>
        <h2><b>Enter OTP</b></h2>
        <p>Please enter the OTP sent to your phone number.</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="2">
      <div>
        <br />
        <ng-otp-input
          (onInputChange)="onOtpChange($event)"
          [config]="config"
        ></ng-otp-input>

        <br />
        <button
          mat-raised-button
          color="primary"
          class="resend-otp"
          [routerLink]="['/', 'otp']"
        >
          Resend OTP
        </button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <br />
  <button
    mat-raised-button
    color="primary"
    class="full-width"
    [routerLink]="['/', 'emailverify']"
  >
    Submit
  </button>
</div>
