<div class="p-10-30">
    <mat-card class="blue-border-card">
      <div class="text-center">
          <h3 class="primary-color">Confirm Money Transfer</h3>
          <mat-list role="list">
            <mat-list-item role="listitem">
                Name : {{ transferDetails.fntrfr_ben_name }}
            </mat-list-item>
            <mat-list-item role="listitem">
                Account Number : {{ transferDetails.fntrfr_ben_accnt_num }}
            </mat-list-item>
            <mat-list-item role="listitem">
                IFSC : {{ transferDetails.fntrfr_ben_ifsc }}
            </mat-list-item>
            <mat-list-item role="listitem">
                Amount : {{ transferDetails.fntrfr_ben_amount }}
            </mat-list-item>
            <mat-list-item role="listitem">
                Mobile : {{ transferDetails.fntrfr_ben_phone }}
            </mat-list-item>
            <mat-list-item role="listitem">
                Email : {{ transferDetails.fntrfr_ben_email }}
            </mat-list-item>
            <mat-list-item role="listitem"> 
                Account Type : {{ transferDetails.fntrfr_ben_accnt_type }}
            </mat-list-item>
            <mat-list-item role="listitem">
                Bank : {{ transferDetails.fntrfr_ben_bnk_nm }}
            </mat-list-item>
            <mat-list-item role="listitem">
                Branch : {{ transferDetails.fntrfr_ben_bnk_br }}
            </mat-list-item>
            <mat-list-item role="listitem">
                Sender Name : {{ transferDetails.fntrfr_sen_name }}
            </mat-list-item>
            <mat-list-item role="listitem">
                Sender Mobile : {{ transferDetails.fntrfr_sen_phone }}
            </mat-list-item>
            <mat-list-item role="listitem">
                Sender Email : {{ transferDetails.fntrfr_sen_email }}
            </mat-list-item>
            <mat-list-item role="listitem">
                <h4 class="primary-color">
                    Net Payable Amount : {{ transferDetails.fntrfr_sen_net_payable }}
                </h4>
            </mat-list-item>
          </mat-list>
            
          <br>   
          <button 
          mat-raised-button 
          class="full-width"
          [disabled]= "!transferDetails._id"
          color="primary" 
          (click)="submit()"
          >Confirm & Transfer</button>     
      </div>        
    </mat-card>
  </div> 