.login-form {
  width: 70%;
}
 
.login-form-button {
  width: 50%;
}

.ant-btn-primary {
  margin-top: 10px;
  margin-right: 10px;
  background-color: #faa61a !important;
  color: #fff !important;
  box-shadow: 0px 13px 12px -7px rgba(0, 0, 0, 0.3) !important;
  font-weight: bold;
  border: solid 1px #faa61a !important;
}

.card-image {
  height: auto;
  width: 100%;
} 

.card-div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-color-border-card {
  height: 60%;
  width: 60%;   
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}