<!-- <header-component title="Login"></header-component> -->
<div class="p-10-30"> 
  <div class="full-width text-center">
    <img src="assets/images/enviar-logo.png" class="enviar-logo" alt="logo" />
    <h2 class="primary-color">Welcome to Enviar</h2> 
    <form [formGroup]="signInForm">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label class="primary-color">Enter Email Address</mat-label>
        <input matInput formControlName="userId">
        <mat-error>Enter a valid email.</mat-error>  
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label class="primary-color">Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <mat-error>Enter password.</mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </form>
      <button
      mat-raised-button
      class="full-width"
      color="primary" 
      (click)="login()"
      [disabled]="!signInForm.valid"
    >
    SIGN IN
    </button> 
    <br>
    <br>
    <a [routerLink]="['/', 'forgot-password']">Forgot Password?</a>
  </div>
</div>
