<div style="padding:10px" class="text-center">
  <h3><b>Questions? Let us help.</b></h3>
  <p class="mat-small">
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to
    make a type specimen book.
  </p>
  <!-- <mat-form-field>
    <mat-icon matPrefix>search</mat-icon>
    <input
      matInput
      type="search"
      placeholder="search here"
      class="search-input"
    />
  </mat-form-field> -->
  <div>
    <!-- <mat-form-field appearance="none" class="enviar-input-wrapper"> -->
    <div class="enviar-input-wrapper full-width ">
      <!-- <mat-icon matPrefix>search</mat-icon> -->
      <input matInput type="search" placeholder="Search" value="" />
    </div>
    <!-- </mat-form-field> -->
  </div>
  <br />
</div>
<mat-grid-list cols="1" rowHeight="80px" class="mat-small">
  <mat-grid-tile
    *ngFor="let question of faqs"
    [colspan]="question.cols"
    [rowspan]="question.rows"
    class="bg-white"
    style="border-bottom: 1px solid lightgrey;"
  >
    <div class="full-width" style="padding: 10px">
      <mat-grid-list cols="4" rowHeight="30px">
        <mat-grid-tile [colspan]="3" [rowspan]="1">
          <div class="full-width">
            <b>{{ question.question }}</b>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
          <div style="margin-top: 10px; color:lightgrey;">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="1">
          <div class="full-width" style="color: lightgrey;">
            {{ question.answer }}
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-grid-tile>
</mat-grid-list>
