<div nz-row>
    <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
      <h3 class="primary-color-font">Account Details</h3>
      <p>View and Manage your Account Details here</p>
    </div>
    <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="container-center">
        <nz-card class="primary-color-border-card"> 
            <div nz-row>
                <div nz-col nzSm="24" nzMd="24" nzLg="12" nzXl="12">
                    <p>Name</p>
                    <h4 class="primary-color-font">{{userDetails.firstname}} {{userDetails.lastname}}</h4>
                    <br>
                    <p>Phone Number</p>
                    <h4 class="primary-color-font">{{userDetails.phone}}</h4>
                    <br>
                    <p>Company Name</p>
                    <h4 class="primary-color-font">{{userDetails.company_name}}</h4>
                    <br>
                    <p>User Name</p>
                    <h4 class="primary-color-font">{{userDetails.username}}</h4>
                    <br>
                    <p>Email</p>
                    <h4 class="primary-color-font">{{userDetails.email}}</h4>
                    <br>
                    <p>Date of Birth</p>
                    <h4 class="primary-color-font">{{userDetails.dob}}</h4>
                </div> 
                <div nz-col nzSm="24" nzMd="24" nzLg="12" nzXl="12">
                    <p>Wallet Balance</p>
                    <h4 class="primary-color-font">{{userDetails.wallet_balance}}</h4>
                    <br>
                    <p>Role</p>
                    <h4 class="primary-color-font">{{userDetails.role}}</h4>
                    <br>
                    <p>Aadhaar Number</p>
                    <h4 class="primary-color-font">{{userDetails.aadhaar}}</h4>
                    <br>
                    <p>PAN Number</p>
                    <h4 class="primary-color-font">{{userDetails.pan}}</h4>
                    <br>
                    <p>Voter ID Number</p>
                    <h4 class="primary-color-font">{{userDetails.voter_id}}</h4>
                    <br>
                    <p>Kit Number</p>
                    <h4 class="primary-color-font">{{userDetails.kit_number}}</h4> 
                </div>
            </div>
            <br>
            <div nz-row class="text-center"> 
                <button nz-button nzType="primary" [routerLink]="['/', 'edit-account-details']">
                    Edit My Account Details
                </button>                 
            </div> 
        </nz-card>
    </div>
</div>   
<br><br>
