<div style="padding:10px" class="text-center">
  <h4><b>Please enter last four digits of your card</b></h4>
  <div>
    <ng-otp-input
      (onInputChange)="onLastPinChange($event)"
      [config]="config"
    ></ng-otp-input>
  </div>
  <h4><b>Please enter your card Kit number</b></h4>
  <div>
    <!-- <mat-form-field appearance="none" class="enviar-input-wrapper"> -->
    <div class="enviar-input-wrapper" style="width: 100%">
      <input matInput type="text" placeholder="Card Kit Number" value="" />
    </div>
    <!-- </mat-form-field> -->
  </div>
  <br />
  <button
    mat-raised-button
    color="primary"
    class="full-width"
    [routerLink]="['/', 'card-congrats']"
  >
    Continue
  </button>
</div>
