<div nz-row>
  <div nz-col nzSm="24" nzMd="24" nzLg="6" nzXl="6"></div>
  <div nz-col nzSm="24" nzMd="24" nzLg="12" nzXl="12" class="text-center">
    <br /><br /><br />
    <h2 class="primary-color-font text-center">
      Verify Your Email Address
    </h2>
    <br />
    <p class="text-center">
      Please confirm that you want to use this as your email address.
    </p>
    <br />
    <button
      nz-button
      nzType="primary"
      style="width: 30%;"
      (click)="verifyEmail()"
    >
      Verify Email
    </button>
  </div>
</div>
