<div class="enviar-form" style="padding: 10px">
  <mat-card class="text-center loc-card">
    <mat-card-header>
      <mat-card-title><b>Congratulations!</b></mat-card-title>
      <mat-card-subtitle
        ><b
          >You have been pre-approved for a line of credit upto</b
        ></mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <h2><b>&#8377; 1,00,000</b></h2></mat-card-content
    >
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        class="full-width"
        [routerLink]="['/', 'take-credit']"
        style="width: 75%"
      >
        Avail Now
      </button>
    </mat-card-actions>
  </mat-card>
  <br />
  <div class="mat-body-1">HOW IT WORKS</div>
  <mat-card class="bg-transp" style="box-shadow: none;">
    <mat-card-header>
      <mat-card-title
        >Securing a Line of Credit has never been easier!</mat-card-title
      >
      <mat-card-subtitle
        >Avail instant Line of Credit and choose your own repayment schedule.
        Find out how here:</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <mat-grid-list cols="1" rowHeight="200px">
        <mat-grid-tile
          *ngFor="let feature of featureLists"
          [colspan]="feature.cols"
          [rowspan]="feature.rows"
        >
          <mat-grid-list cols="1" rowHeight="100px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="mat-card-round-small bg-white">
                <mat-icon style="font-size: 20px">flash_on</mat-icon>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="text-center">
                <div class="mat-body-1">{{ feature.text }}</div>
                <p>{{ feature.body }}</p>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
    <mat-card-actions>
      <mat-grid-list cols="2" rowHeight="30px" [gutterSize]="'10px'">
        <mat-grid-tile colspan="1" rowspan="2">
          <button
            mat-raised-button
            color="primary"
            class="full-width secondary"
            [routerLink]="['/', 'loc-faq']"
          >
            Know more
          </button>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="2">
          <button
            mat-raised-button
            color="primary"
            class="full-width"
            [routerLink]="['/', 'take-credit']"
          >
            Take Credit
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-actions>
  </mat-card>
</div>
