<div class="pad-2-2">
  <mat-card class="blue-border-card">
    <mat-grid-list  cols="5" rowHeight="80px" class="full-width">
      <mat-grid-tile colspan="1" rowspan="1">
      <div class="mat-card-round-small" style="height:40px; width: 40px;">
        <mat-icon style="font-size: 30px">account_circle</mat-icon>
      </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="1">
        <div>
          <span class="primary-color">
            <b>{{ userDetails.firstname }} {{ userDetails.lastname }}</b>
          </span>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="1">
        <div>
          Balance<br>
          <span class="primary-color">
            <b>{{ userDetails.wallet_balance | currency: "INR" }}</b>
          </span>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
 </mat-card>
  <mat-grid-list cols="2" rowHeight="150px" [gutterSize]="'10px'">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card style="width: 100%" class="payment-card" [routerLink]="['/', 'money-transfer']">
        <mat-grid-list cols="3" rowHeight="80px" class="full-width">
          <mat-grid-tile colspan="1" rowspan="1">
            <div class="mat-card-round-small" style="height:40px; width: 40px;">
              <mat-icon style="font-size: 20px">swap_horiz</mat-icon>
            </div>
          </mat-grid-tile>
          <mat-grid-tile colspan="2" rowspan="1">
            <div>
              <div>Money<br>Transfer</div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="payment-card" style="width: 100%" [routerLink]="['/', 'mobile-recharge']">
        <mat-grid-list cols="3" rowHeight="80px" class="full-width">
          <mat-grid-tile colspan="1" rowspan="1">
            <div class="mat-card-round-small" style="height:40px; width: 40px;">
              <mat-icon style="font-size: 20px">phone_android</mat-icon>
            </div>
          </mat-grid-tile>
          <mat-grid-tile colspan="2" rowspan="1">
            <div>
              <div>Mobile<br>Recharge</div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="payment-card" style="width: 100%" [routerLink]="['/', 'dth-recharge']">
        <mat-grid-list cols="3" rowHeight="80px" class="full-width">
          <mat-grid-tile colspan="1" rowspan="1">
            <div class="mat-card-round-small" style="height:40px; width: 40px;">
              <mat-icon style="font-size: 20px">tv</mat-icon>
            </div>
          </mat-grid-tile>
          <mat-grid-tile colspan="2" rowspan="1">
            <div>
              <div>DTH<br>Recharge</div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="payment-card"style="width: 100%" [routerLink]="['/', 'landline-bill']">
        <mat-grid-list cols="3" rowHeight="80px" class="full-width">
          <mat-grid-tile colspan="1" rowspan="1">
            <div class="mat-card-round-small" style="height:40px; width: 40px;">
              <mat-icon style="font-size: 20px">call</mat-icon>
            </div>
          </mat-grid-tile>
          <mat-grid-tile colspan="2" rowspan="1">
            <div>
              <div>Landline<br>Bill</div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="payment-card" style="width: 100%" [routerLink]="['/', 'datacard-bill']">
        <mat-grid-list cols="3" rowHeight="80px" class="full-width">
          <mat-grid-tile colspan="1" rowspan="1">
            <div class="mat-card-round-small" style="height:40px; width: 40px;">
              <mat-icon style="font-size: 20px">router</mat-icon>
            </div>
          </mat-grid-tile>
          <mat-grid-tile colspan="2" rowspan="1">
            <div>
              <div>Datacard<br>Bill</div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="payment-card" style="width: 100%" [routerLink]="['/', 'hotel-booking']">
        <mat-grid-list cols="3" rowHeight="80px" class="full-width">
          <mat-grid-tile colspan="1" rowspan="1">
            <div class="mat-card-round-small" style="height:40px; width: 40px;">
              <mat-icon style="font-size: 20px">hotel</mat-icon>
            </div>
          </mat-grid-tile>
          <mat-grid-tile colspan="2" rowspan="1">
            <div>
              <div>Hotel<br>Booking</div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="payment-card" style="width: 100%" [routerLink]="['/', 'loan-pay']">
        <mat-grid-list cols="3" rowHeight="80px" class="full-width">
          <mat-grid-tile colspan="1" rowspan="1">
            <div class="mat-card-round-small" style="height:40px; width: 40px;">
              <mat-icon style="font-size: 20px">attach_money</mat-icon>
            </div>
          </mat-grid-tile>
          <mat-grid-tile colspan="2" rowspan="1">
            <div>
              <div>Loans</div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="payment-card" style="width: 100%" [routerLink]="['/', 'aeps']">
        <mat-grid-list cols="3" rowHeight="80px" class="full-width">
          <mat-grid-tile colspan="1" rowspan="1">
            <div class="mat-card-round-small" style="height:40px; width: 40px;">
              <mat-icon style="font-size: 20px">fingerprint</mat-icon>
            </div>
          </mat-grid-tile>
          <mat-grid-tile colspan="2" rowspan="1">
            <div>
              <div>AEPS</div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
