<div nz-row>
  <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
    <a class="back-button-text" [routerLink]="['/', 'dashboard']"
      ><img
        class="back-img"
        src="assets/images/back-button.svg"
      />&nbsp;&nbsp;BACK</a
    >

    <br />

    <br />
  </div>
</div>
<!-- <div nz-row>
  <div nz-col nzSm="12" nzMd="12" nzLg="6" nzXl="6">
    <p>Account Number</p>
    <h4>011130300000143</h4>
  </div>
  <div nz-col nzSm="12" nzMd="12" nzLg="6" nzXl="6">
    <p>Account Holder</p>
    <h4>Nitin V Kulkarni</h4>
  </div>
</div> -->
<div nz-row>
  <sign-up-inner-company>
    <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
      <h3 class="medium-color-font">General Details</h3>
      <!-- <p>Fill in these basic details to get it started.</p> -->
    </div>
  </sign-up-inner-company>
</div>
