<div nz-row>
  <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
    <a class="back-button-text" [routerLink]="['/', 'account', 'user']"><img class="back-img" src="assets/images/back-button.svg">&nbsp;&nbsp;BACK</a>
    <br>
    <div nz-row>
        <div nz-col nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <h3>Raj Kumar</h3>
          <p>Role : Admin</p>
          <p>Email id : raj@briefkase.in</p>
          <h2>Recent Activity </h2>
        </div>
        <div nz-col nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <div nz-row>
              <div nz-col nzSm="8" nzMd="8" nzLg="8" nzXl="8"><button nz-button nzType="info">Edit</button></div>
              <div nz-col nzSm="8" nzMd="8" nzLg="8" nzXl="8"><button nz-button nzType="info">Mark as Inactive</button></div>
              <div nz-col nzSm="8" nzMd="8" nzLg="8" nzXl="8"><button nz-button nzType="danger">Delete</button></div>
            </div>
        </div>
    </div>
  </div>
</div>
<br>
<div nz-row>
  <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
    <nz-timeline>
     <nz-timeline-item>New Account Created</nz-timeline-item>
     <nz-timeline-item>14 employees added via Bulk upload</nz-timeline-item>
     <nz-timeline-item>Added a New user Shwetha Sharma</nz-timeline-item>
     <nz-timeline-item>new account created</nz-timeline-item>
    </nz-timeline>
  </div>
</div>
