<app-modal></app-modal>

<nz-layout class="layout" [ngClass]="customTheme">
  <nz-header>
    <div nz-row>
      <div nz-col nzXs="2" nzSm="14" nzMd="14" nzLg="14" nzXl="14">
        <div class="logo" [routerLink]="['/', 'dashboard']">
          <img src="assets/images/enviar-logo.png" class="logo" />
        </div>
      </div>

      <!-- <div
        *ngIf="currentMenuType != 4"
        nz-col
        nzXs="0"
        nzSm="0"
        nzMd="6"
        nzLg="6"
        nzXl="6"
      >
        <ul *ngIf="!isAdmin()" nzMode="inline" class="my-account-top-section">
          <span class="dark-brown">
            My Enviar Balance &nbsp;
            <b>{{ userBalance | currency: "₹" }}</b
            >&nbsp;
            <! -- <img
              src="assets/images/rupay-add.png"
              class="topup-img"
              [routerLink]="['/', 'wallet-top-up']"
            /> -- >
          </span>
        </ul>
      </div> -->
      <div
        *ngIf="currentMenuType != 4"
        nz-col
        nzXs="0"
        nzSm="0"
        nzMd="4"
        nzLg="4"
        nzXl="4"
      >
        <ul nz-menu nzMode="horizontal" class="header-menu">
          <!-- <li nz-menu-item>
            <img src="assets/images/bell.svg" class=" top-menu-icons" />
          </li> -->
          <li nz-menu-item>
            <ul class="header-profile" nz-menu nzMode="horizontal">
              <li nz-submenu nzTitle="&nbsp;">
                <ul style="min-width: 200px;">
                  <!-- Role(s) - {{ userRole }} -->
                  <li
                    nz-menu-group
                    class="dark-brown"
                    nzTitle="Hey {{ userName }}!"
                  >
                    <ul>
                      <li nz-menu-item [routerLink]="['/', 'my-account']">
                        <i nz-icon nzType="robot" nzTheme="outline"></i>
                        My Account
                      </li>
                      <!-- <li
                        nz-submenu
                        nzTitle="My Enviar Account"
                        *ngIf="!isAdmin()"
                      >
                        <ul>
                          (click)="gotoAccountDetails()" function for acct settings
                          <li nz-menu-item class="dark-brown">
                            <i nz-icon nzType="setting" nzTheme="outline"></i
                            >Account Settings
                          </li>
                          <li nz-menu-item class="dark-brown">
                            <img
                              src="assets/images/rupay-add.png"
                              style="width: 20px;"
                            />&nbsp;&nbsp;Top Up Balance
                          </li>
                        </ul>
                      </li> -->
                      <li nz-menu-item (click)="logout()">
                        <i nz-icon nzType="logout" nzTheme="outline"></i>Sign
                        Out
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider
      nzWidth="231px"
      nzTheme="light"
      nzCollapsible
      [(nzCollapsed)]="isCollapsed"
      [nzBreakpoint]="'xl'"
      [nzCollapsedWidth]="0"
      [nzZeroTrigger]="zeroTrigger"
      *ngIf="currentMenuType == menuTypes.normal"
    >
      <ul nz-menu nzMode="inline" class="sider-menu dark-brown">
        <li
          nz-menu-item
          nzOpen
          nzIcon="user"
          [routerLink]="['/', 'dashboard']"
          *ngIf="showMenuForUser('dashboard')"
          [nzSelected]="isMenuSelected('/dashboard')"
        >
          <i nz-icon nzType="dashboard" nzTheme="outline"></i>
          Dashboard
        </li>
        <li
          nz-menu-item
          nzOpen
          nzIcon="user"
          [routerLink]="['/', 'super-distributor']"
          *ngIf="showMenuForUser('superDistributor')"
          [nzSelected]="isMenuSelected('/super-distributor')"
        >
          <i nz-icon nzType="global" nzTheme="outline"></i>
          Super Distributor
        </li>
        <li
          nz-menu-item
          nzOpen
          nzIcon="user"
          [routerLink]="['/', 'distributor']"
          *ngIf="showMenuForUser('distributor')"
          [nzSelected]="isMenuSelected('/distributor')"
        >
          <i nz-icon nzType="deployment-unit" nzTheme="outline"></i>
          Distributor
        </li>
        <li
          nz-menu-item
          nzOpen
          nzIcon="user"
          [routerLink]="['/', 'retailer']"
          *ngIf="showMenuForUser('retailer')"
          [nzSelected]="isMenuSelected('/retailer')"
        >
          <i nz-icon nzType="user" nzTheme="outline"></i>
          Retailer
        </li>
        <li
          nz-menu-item
          nzOpen
          [routerLink]="['/', 'ledgers']"
          *ngIf="showMenuForUser('ledgers')"
          [nzSelected]="isMenuSelected('/ledgers')"
        >
          <i nz-icon nzType="file" nzTheme="outline"></i>
          Ledgers
        </li>
        <li
          nz-menu-item
          nzOpen
          [routerLink]="['/', 'earnings']"
          *ngIf="showMenuForUser('earnings')"
          [nzSelected]="isMenuSelected('/earnings')"
        >
          <i nz-icon nzType="dollar" nzTheme="outline"></i>
          Earnings
        </li>
        <li
          nz-menu-item
          nzOpen
          [routerLink]="['/', 'commissions']"
          *ngIf="showMenuForUser('commissions')"
          [nzSelected]="isMenuSelected('/commissions')"
        >
          <i nz-icon nzType="dollar" nzTheme="outline"></i>
          Commissions
        </li>
        <li
          nz-menu-item
          nzOpen
          [routerLink]="['/', 'loyalty']"
          *ngIf="showMenuForUser('loyalty')"
          [nzSelected]="isMenuSelected('/loyalty')"
        >
          <i nz-icon nzType="crown" nzTheme="outline"></i>
          Loyalty
        </li>
        <li
          nz-menu-item
          nzOpen
          [routerLink]="['/', 'transactions']"
          *ngIf="showMenuForUser('transactions')"
          [nzSelected]="isMenuSelected('/transactions')"
        >
          <i nz-icon nzType="calendar" nzTheme="outline"></i>
          Transactions
        </li>
        <li
          nz-menu-item
          nzOpen
          [routerLink]="['/', 'margins']"
          *ngIf="showMenuForUser('margins')"
          [nzSelected]="isMenuSelected('/margins')"
        >
          <i nz-icon nzType="sliders" nzTheme="outline"></i>
          Margins
        </li>
        <li
          nz-menu-item
          nzOpen
          [routerLink]="['/', 'wallet-load-request']"
          *ngIf="showMenuForUser('walletLoadRequest')"
          [nzSelected]="isMenuSelected('/wallet-load-request')"
        >
          <i nz-icon nzType="interaction" nzTheme="outline"></i>
          Wallet Load Request
        </li>
        <li
          nz-menu-item
          nzOpen
          [routerLink]="['/', 'wallet-top-up']"
          *ngIf="showMenuForUser('walletTopUp')"
          [nzSelected]="isMenuSelected('/wallet-top-up')"
        >
          <img src="assets/images/rupay-add.png" style="width: 20px;" />
          &nbsp;&nbsp; Wallet Top Up
        </li>
        <!-- <li
          nz-menu-item
          nzOpen
          [routerLink]="['/', 'payments']"
          *ngIf="['retailer'].includes(userRole)"
        >
          <i nz-icon nzType="swap" nzTheme="outline"></i> Payments
        </li> -->
      </ul>
    </nz-sider>

    <!-- <nz-sider
      nzWidth="231px"
      nzTheme="light"
      nzCollapsible
      [(nzCollapsed)]="isCollapsed"
      [nzBreakpoint]="'xl'"
      [nzCollapsedWidth]="0"
      [nzZeroTrigger]="zeroTrigger"
      *ngIf="currentMenuType == menuTypes.initialSetup"
    >
      <ul nz-menu nzMode="inline" class="sider-menu dark-brown">
        <li
          nz-menu-item
          nzOpen
          nzIcon="user"
          [routerLink]="['/', 'company', 'listing']"
        >
          <i nz-icon nzType="user"></i> Companies
        </li>
      </ul>
    </nz-sider>

    <nz-sider
      nzWidth="231px"
      nzTheme="light"
      nzCollapsible
      [(nzCollapsed)]="isCollapsed"
      [nzBreakpoint]="'xl'"
      [nzCollapsedWidth]="0"
      [nzZeroTrigger]="zeroTrigger"
      *ngIf="currentMenuType == menuTypes.userRole"
    >
      <ul nz-menu nzMode="inline" class="sider-menu dark-brown">
        <li nz-menu-item><h2>Account Settings</h2></li>
        <li nz-menu-item nzOpen nzIcon="user" [routerLink]="['/', 'dashboard']">
          <i nz-icon nzType="dashboard"></i> Employees
        </li>
        <li
          nz-menu-item
          nzOpen
          nzIcon="user"
          [routerLink]="['/', 'employee', 'add']"
        >
          <i nz-icon nzType="user"></i> Privacy Settings
        </li>
        <li
          nz-menu-item
          nzOpen
          nzIcon="user"
          [routerLink]="['/', 'account', 'user']"
        >
          <i nz-icon nzType="fund"></i> Users and Roles
        </li>
      </ul>
    </nz-sider> -->
    <nz-layout class="inner-layout">
      <nz-content>
        <router-outlet></router-outlet>
        <ngx-spinner color="#27878e"></ngx-spinner>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
