<div class="pad-2-2">
<mat-card class= "blue-border-card">
  <mat-grid-list  cols="5" rowHeight="80px" class="full-width">
    <mat-grid-tile colspan="1"
    rowspan="1">
    <div class="mat-card-round-small" style="height:40px; width: 40px;">
      <mat-icon style="font-size: 30px">account_circle</mat-icon>
    </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <div>
        <span class="primary-color">
        <b>{{ userDetails.firstname }} {{ userDetails.lastname }}</b>
        </span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <div>
        Balance<br>
        <span class="primary-color">
          <b>{{ userDetails.wallet_balance | currency: "INR" }}</b>
        </span>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
</div>
<div class="full-width">
  <mat-list>
    <mat-list-item><i class="material-icons">spellcheck</i>&nbsp;Language settings</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><i class="material-icons">place</i>&nbsp;My Addresses</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><i class="material-icons">lock</i>&nbsp;Change Password</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><i class="material-icons">notifications</i>&nbsp;Bill Notifications</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><i class="material-icons">account_balance</i>&nbsp;Bank Accounts</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><i class="material-icons">people</i>&nbsp;KYC Details</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><i class="material-icons">library_books</i>&nbsp;Policies</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><i class="material-icons">help</i>&nbsp;Help and support</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><i class="material-icons">portrait</i>&nbsp;About Us</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><i class="material-icons">assignment</i>&nbsp;Terms And Services</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>


